.accountBar {
  background-color: #002e57;
  display: flex;
  justify-content: flex-end;
}

.accountBarInscription {
  margin-right: 5vw;
}

.accountBarConnection,
.accountBarInscription {
  padding-left: 1vw;
  padding-right: 1vw;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.accountBarConnection:hover,
.accountBarInscription:hover {
  text-decoration: underline;
}

.navBar {
  background-color: #004079;
  height: 7vw;
  display: flex;
  align-items: center;
}

.navBrand,
.nav {
  margin-left: 5vw;
  animation: rotation 2s infinite linear;
}

.nav {
  justify-content: center;
}

.navLink {
  font-family: 'BoogalooRegular', cursive;
  font-size: 24px;
  color: white !important ;
  margin-right: 3vw;
  margin-left: 3vw;
  text-decoration: none;
}

.navLinkActive{
  font-family: Barlow;
  font-size: 24px;
  color: white !important ;
  margin-right: 3vw;
  margin-left: 3vw;
  text-decoration: none;
  text-decoration: underline;
  font-weight: bold;
}

.navLink:hover {
  border-bottom: 1px solid white;
}

.navLink.active {
  border-bottom: 1px solid white;
}

.header {
  background-color: #002e57;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header h1 {
  font-size: 48px;
  line-height: 1vw;
  font-family: Barlow;
}

.header h2 {
  font-size: 36px;
  font-family: Barlow;
}

.footer {
  font-family: Montserrat;
  background-color: #002e57;
  text-align: center;
  color: white;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
  margin-top: 5%;
  bottom: 0;
 
}

.footer img {
  float: inline-end;
  margin-right: 2vw;
  margin-top: -4vw;
}

.legalmentions:hover {
  text-decoration: underline;
}

.logoutLogo {
  color: white;
  font-size: 2em;
  padding-right: 10px;
  padding-left: 10px;
}

.logoutLogo:hover {
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
}
